:root {
  --marin-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(228, 100%, 99%);
  --hover-color: hsl(230, 75%, 98%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input:not(.checkbox),
button,
label {
  font: inherit;
  display: block;
  color: var(--marin-blue);
}

img {
  display: block;
}

:where(input:not(.checkbox)) {
  width: 100%;
  font-weight: 500;
  border-radius: 7.5px;
  padding: 15px;
  border: 1px solid var(--light-gray);
  margin-bottom: 20px;
  accent-color: var(--marin-blue);
}

input:focus {
  outline: 0;
  border: 1px solid var(--purplish-blue);
}

.empty {
  position: relative;
}

.empty::before {
  content: "This field is required";
  color: var(--strawberry-red);
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  font-size: 14px;
}

.empty > input {
  border: 1px solid var(--strawberry-red);
}

::placeholder {
  color: hsl(231, 6%, 43%);
}

form label {
  color: var(--marin-blue);
  margin-bottom: 7px;
  font-size: 14px;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: var(--magnolia);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1 {
  color: var(--marin-blue);
  margin-bottom: 10px;
}

.container p {
  color: var(--cool-gray);
  margin-bottom: 35px;
}

.App {
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.012),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.018),
    100px 100px 80px rgba(0, 0, 0, 0.03);
}

.sidebar {
  height: 568px;
  width: 274px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 30px;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
}

.sidebar .step-wrapper {
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .nb {
  height: 32.5px;
  width: 32.5px;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sidebar .active .nb {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: var(--marin-blue);
}

.sidebar .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar .step {
  color: var(--light-gray);
  font-size: 12px;
}

.sidebar .info {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.container {
  position: relative;
  padding: 40px 85px 40px 100px;
  width: 642px;
  background-color: white;
  border-radius: inherit;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 15px 85px 15px 100px;
}

.next {
  padding: 0.85em 1.5em;
  display: inline-block;
  border-radius: 7.5px;
  background-color: var(--marin-blue);
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.confirm {
  background-color: var(--purplish-blue);
}

.back {
  color: var(--cool-gray);
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.back.inactive {
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

.back:hover {
  color: var(--marin-blue);
}

.next:hover {
  background-color: #174a8a;
}

.confirm:hover {
  background-color: hsl(243 100% 62% / 0.7);
}

.cards {
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid var(--light-gray);
  flex-grow: 1;
  padding: 20px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.card.active {
  border-color: var(--purplish-blue);
  background-color: var(--hover-color);
}

.card:hover:not(.active) {
  border-color: var(--purplish-blue);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plan-name {
  color: var(--marin-blue);
  font-weight: 500;
}

.price {
  color: var(--cool-gray);
  font-size: 14px;
}

.additional {
  color: var(--marin-blue);
  font-size: 12px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--hover-color);
  border-radius: 7px;
  padding: 15px;
}

.toggle-container .monthly,
.toggle-container .yearly {
  font-size: 15px;
  color: var(--cool-gray);
  font-weight: 500;
  transition: color 0.3s;
}

.toggle-container .monthly.active,
.toggle-container .yearly.active {
  color: var(--marin-blue);
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: var(--marin-blue);
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
}

.switch {
  position: absolute;
  background-color: white;
  top: 4px;
  right: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transform: translateX(-20px);
  transition: transform 0.3s;
}

.switch.yearly {
  transform: translateX(0);
  transition: transform 0.3s;
}

.add-on:not(:last-child) {
  margin-bottom: 15px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid var(--light-gray);
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.option:hover:not(.checkbox:checked + .option:hover) {
  border-color: var(--purplish-blue);
}

.checkbox:checked + .option {
  border-color: var(--purplish-blue);
  background-color: var(--hover-color);
}

.custom-checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.custom-checkbox {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox:checked + .option .custom-checkbox {
  background-color: var(--purplish-blue);
  border-color: var(--purplish-blue);
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.checkbox-label .title {
  font-weight: 500;
  color: var(--marin-blue);
}

.checkbox-label .sub-title {
  font-size: 14px;
  color: var(--cool-gray);
}

.addon-price {
  font-size: 14px;
  color: var(--purplish-blue);
  font-weight: 500;
}

.summary .cart {
  background-color: var(--hover-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.summary .plan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.plan-container .name div {
  font-weight: 500;
  color: var(--marin-blue);
}

.plan-container .name a {
  display: inline-block;
  font-size: 14px;
  text-decoration: underline;
  color: var(--cool-gray);
  transition: color 0.3s;
  font-weight: 500;
}

.plan-container .name a:hover {
  color: var(--purplish-blue);
}

.plan-price {
  color: var(--marin-blue);
  font-weight: 700;
}

.addon:not(:last-child) {
  margin-bottom: 20px;
}

.addon {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--marin-blue);
}

.addon-name {
  color: var(--cool-gray);
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.total :first-child {
  font-size: 14px;
  color: var(--cool-gray);
}

.total :last-child {
  font-size: 20px;
  font-weight: 700;
  color: var(--purplish-blue);
}

.disable {
  display: none;
}

.thanks {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.thanks .wrapper {
  display: grid;
  place-items: center;
  gap: 10px;
}

.thanks img {
  margin-bottom: 20px;
}

.thanks p {
  text-align: center;
  font-size: 16.5px;
  line-height: 1.6;
}

@media (max-width: 950px) {
  .App {
    padding: 0;
  }
  .sidebar {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: auto;
    height: auto;
    inset: 0 0 auto 0;
    aspect-ratio: 375 / 172;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    overflow: hidden;
    border-radius: 0;
    z-index: 0;
  }
  .sidebar .text {
    display: none;
  }
  .container {
    position: static;
    z-index: 1;
  }
  .nav-btns {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 24px;
  }
  body {
    align-items: flex-start;
  }
  .App {
    margin-inline: 20px;
    border-radius: 10px;
    margin-top: 99px;
    margin-bottom: 100px;
  }
  .container {
    width: 100%;
    padding: 30px 20px;
  }
  .container:has(.thanks) {
    padding-block: 70px;
  }
  .container p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .sidebar {
    gap: 15px;
    padding-top: 30px;
  }
  form div:last-child input {
    margin: 0;
  }
  input {
    border-radius: 5px;
    padding: 10px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .card {
    flex-direction: row;
    gap: 15px;
    padding: 15px;
  }
  .next {
    border-radius: 5px;
  }
  .nav-btns {
    padding: 20px;
  }
  .option {
    padding: 15px;
  }
  .custom-checkbox-container {
    gap: 15px;
  }
  .checkbox-label .title {
    font-size: 14px;
  }
  .checkbox-label .sub-title,
  .addon-price {
    font-size: 12px;
  }

  .thanks img {
    width: 60px;
  }
}

/* start Font Faces */
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* end Font Faces */
