:root {
  --marin-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(228, 100%, 99%);
  --hover-color: #f8f9fe;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input:not(.checkbox),
button,
label {
  font: inherit;
  display: block;
}

input:not(.checkbox) {
  width: 100%;
  font-weight: 500;
  border-radius: 7.5px;
  padding: 15px;
  border: 1px solid var(--light-gray);
  margin-bottom: 20px;
  accent-color: var(--marin-blue);
}

input:focus {
  outline: 0;
  border: 1px solid var(--purplish-blue);
}

input::placeholder {
  color: hsl(231, 6%, 43%);
}

label {
  color: var(--marin-blue);
  margin-bottom: 7px;
  font-size: 14px;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: var(--magnolia);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1 {
  color: var(--marin-blue);
  margin-bottom: 10px;
}

.container p {
  color: var(--cool-gray);
  margin-bottom: 35px;
}

.App {
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.012),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.018),
    100px 100px 80px rgba(0, 0, 0, 0.03);
}

.sidebar {
  height: 568px;
  width: 274px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 30px;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
}

.sidebar a {
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .nb {
  height: 32.5px;
  width: 32.5px;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sidebar .active .nb {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: var(--marin-blue);
}

.sidebar .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar .step {
  color: var(--light-gray);
  font-size: 12px;
}

.sidebar .info {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.sidebar a:not(.active):hover .nb {
  background-color: rgb(255 255 255 / 0.2);
}

.container {
  position: relative;
  padding: 40px 85px 30px 100px;
  width: 642px;
  background-color: white;
  border-radius: inherit;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 15px 85px 15px 100px;
}

.next {
  padding: 0.85em 1.5em;
  display: inline-block;
  border-radius: 7.5px;
  background-color: var(--marin-blue);
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.back {
  color: var(--cool-gray);
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.back:hover {
  color: var(--marin-blue);
}

.next:hover {
  background-color: #174a8a;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid var(--light-gray);
  flex-grow: 1;
  padding: 20px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.card.active {
  border-color: var(--purplish-blue);
  background-color: var(--hover-color);
}

.card:hover:not(.active) {
  background-color: var(--hover-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.plan-name {
  color: var(--marin-blue);
  font-weight: 500;
}

.price {
  color: var(--cool-gray);
  font-size: 14px;
}

.additional {
  color: var(--marin-blue);
  font-size: 12px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--hover-color);
  border-radius: 7px;
  padding: 15px;
}

.toggle-container .monthly,
.toggle-container .yearly {
  font-size: 15px;
  color: var(--cool-gray);
  font-weight: 500;
  transition: color 0.3s;
}

.toggle-container .monthly.active,
.toggle-container .yearly.active {
  color: var(--marin-blue);
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: var(--marin-blue);
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
}

.switch {
  position: absolute;
  background-color: white;
  top: 4px;
  right: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transform: translateX(-20px);
  transition: transform 0.3s;
}

.switch.yearly {
  transform: translateX(0);
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.box {
}

@media (max-width: 950px) {
  .App {
    padding: 0;
  }
  .sidebar {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: auto;
    height: auto;
    inset: 0 0 auto 0;
    aspect-ratio: 375 / 172;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    overflow: hidden;
    border-radius: 0;
    z-index: 0;
  }
  .sidebar .text {
    display: none;
  }
  .container {
    position: static;
    z-index: 1;
  }
  .nav-btns {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 22px;
  }
  body {
    align-items: flex-start;
  }
  .App {
    margin-inline: 20px;
    border-radius: 10px;
    margin-top: 99px;
  }
  .container {
    width: 100%;
    padding: 30px;
  }
  .container p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .sidebar {
    gap: 15px;
    padding-top: 30px;
  }
  input {
    border-radius: 5px;
    padding: 10px;
  }
  input:last-child {
    margin: 0;
  }
  .cards {
    flex-direction: column;
    gap: 15px;
  }
  .card {
    flex-direction: row;
    gap: 15px;
    padding: 15px;
  }
  .next {
    border-radius: 5px;
  }
  .nav-btns {
    padding: 20px;
  }
}

/* start Font Faces */
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* end Font Faces */
